// h1-xxl
// ---------------------------------------------------------

@mixin type-h1-xxl-default(
  $size: 42,
  $line: 46.2,
  $weight: bold,
  $letter: -0.03125em
) {
  @include typebeast($size, $line, $weight, $letter);
}

@mixin type-h1-xxl-large($size: 80) {
  @include typebeast($size);
}

// h1-xl
// ---------------------------------------------------------

@mixin type-h1-xl-default(
  $size: 36,
  $line: 39.6,
  $weight: bold,
  $letter: -0.03125em
) {
  @include typebeast($size, $line, $weight, $letter);
}

@mixin type-h1-xl-large($size: 64) {
  @include typebeast($size);
}

// h1
// ---------------------------------------------------------

@mixin type-h1-default(
  $size: 32,
  $line: 35.2,
  $weight: bold,
  $letter: -0.03125em
) {
  @include typebeast($size, $line, $weight, $letter);
}

@mixin type-h1-large($size: 48) {
  @include typebeast($size);
}

// h2
// ---------------------------------------------------------

@mixin type-h2-default($size: 28, $line: 30.8, $weight: bold) {
  @include typebeast($size, $line, $weight);
}

@mixin type-h2-large($size: 32) {
  @include typebeast($size);
}

// h3
// ---------------------------------------------------------

@mixin type-h3-default($size: 20, $line: 22, $weight: bold) {
  @include typebeast($size, $line, $weight);
}

@mixin type-h3-large($size: 24) {
  @include typebeast($size);
}

// h4
// ---------------------------------------------------------

@mixin type-h4-default($size: 16, $line: 19.2, $weight: bold) {
  @include typebeast($size, $line, $weight);
}

@mixin type-h4-large($size: 20) {
  @include typebeast($size);
}

// h5
// ---------------------------------------------------------

@mixin type-h5-default($size: 13, $line: 15.6, $weight: bold) {
  @include typebeast($size, $line, $weight);
}

@mixin type-h5-large($size: 16) {
  @include typebeast($size);
}

// h6
// ---------------------------------------------------------

@mixin type-h6-default(
  $size: 10,
  $line: 12,
  $weight: bold,
  $transform: uppercase
) {
  @include typebeast($size, $line, $weight, $transform);
}

@mixin type-h6-large($size: 12) {
  @include typebeast($size);
}

// lede
// ---------------------------------------------------------

@mixin type-lede-default($size: 18, $line: 27) {
  @include typebeast($size, $line);
}

@mixin type-lede-large($size: 24) {
  @include typebeast($size);
}

// para
// ---------------------------------------------------------

@mixin type-para-default($size: 16, $line: 27.2) {
  @include typebeast($size, $line);
}

@mixin type-para-large($size: 18) {
  @include typebeast($size);
}

// small
// ---------------------------------------------------------

@mixin type-small-default($size: 14, $line: 23.8) {
  @include typebeast($size, $line);
}

@mixin type-small-large($size: 16) {
  @include typebeast($size);
}

// caption
// ---------------------------------------------------------

@mixin type-caption-default($size: 10, $line: 15) {
  @include typebeast($size, $line);
}

@mixin type-caption-large($size: 12) {
  @include typebeast($size);
}
