// KBD
// ---------------------------------------------------------
kbd,
.type-kbd {
  @include typebeast-kbd-style(
    $color: #454647,
    $background: #f8f8f8,
    $border: #bcbdbe,
    $radius: 0.25rem,
    $size: null,
    $inset: null
  );
}
