@mixin typebeast-link-style(
  $color: null,
  $hover: null,
  $active: null,
  $style: null
) {
  color: $color;
  text-decoration-style: $style;
  &:hover {
    color: $hover;
  }
  &:active {
    color: $color;
  }
}

a,
.link {
  @include typebeast-link-style;
}

pre,
code,
kbd {
  font-family: typebeast-setting('monospace-font-family', $nullable: true);
}

@mixin typebeast-code-style(
  $color: midnightblue,
  $background: aliceblue,
  $radius: 4px,
  $size: 0.9em,
  $inset: 0.2em 0.3em 0.3em
) {
  color: $color;
  background-color: $background;
  border-radius: $radius;
  font-size: $size;
  padding: $inset;
}

code {
  @include typebeast-code-style;
}

@mixin typebeast-kbd-style(
  $color: null,
  $background: whitesmoke,
  $radius: 4px,
  $size: 0.9em,
  $inset: 0.2em 0.3em 0.3em,
  $border: darkgray
) {
  position: relative; // layering rquirement
  font-size: $size;
  color: $color;
  background-color: $background;
  border-radius: $radius;
  padding: $inset;
  // these colors matching creates the key cap effect
  border: 1px solid $border;
  box-shadow: 0 0.15em 0 0 $border;
}

kbd {
  @include typebeast-kbd-style;
}
