// Link
// ---------------------------------------------------------
a,
.type-link {
  @include typebeast-link-style(
    $color: #002b73,
    $hover: #1755bb,
    $active: #035aeb,
    $visited: #035aeb,
    $style: wavy
  );
}
