// Code
// ---------------------------------------------------------
code,
.type-code {
  @include typebeast-code-style(
    $color: #1c7c4e,
    $background: #f0f9f5,
    $radius: 0.25rem,
    $size: 0.9em,
    $inset: 0.2em 0.3em 0.3em
  );
}
