/* rem converstions
----------------------------------*/

$CALCULATE_REM: true;
$REM_BASE: 16;

@function to-rem($px) {
  @return ($px / $REM_BASE) * 1rem;
}

/* Margin resets
----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
figure,
pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}

/* base mixin
----------------------------------*/

@mixin typebeast(
  $family: null,
  $size: null,
  $line: null,
  $weight: null,
  $style: null,
  $letter: null,
  $transform: null
) {
  font-family: $family;
  @if $CALCULATE_REM {
    @if $size {
      font-size: $size;
    }
    @if $size and $line {
      line-height: $line;
    }
  } @else {
    font-size: $size;
    line-height: $line;
  }
  font-weight: $weight;
  font-style: $style;
  letter-spacing: $letter;
  text-transform: $transform;
}

/* [START DECLARATION BLOCK]
----------------------------------*/

@mixin type-m-h1(
  $size: 32,
  $line: 35.2,
  $weight: bold,
  $letter: -0.03125em,
  $family: null
) {
  @include typebeast($size, $line, $weight, $letter, $family);
}
@mixin type-d-h1($size: 48) {
  @include typebeast($size);
}

.h1,
.wysiwyg h1 {
  @include type-m-h1;
}

/* [END DECLARATION BLOCK]
----------------------------------*/

/* Responsives
----------------------------------*/

@media screen and (min-width: 768px) {
  .h1,
  .wysiwyg h1 {
    @include type-d-h1;
  }
}

// /* Reusable mixins */

// @mixin _MIXIN-PREFIX_-_TYPOGRAPHY-NAME_() {
//   @include typebeast();
// }
// @mixin _MIXIN-PREFIX_-_TYPOGRAPHY-NAME_-_BREAKPOINT-NAME_() {
//   // __DEFAULT-RULES__
// }

// /* Default styles */

// ._CLASS-PREFIX_-_TYPOGRAPHY-NAME_ {
//   @include _MIXIN-PREFIX_-_TYPOGRAPHY-NAME_;
// }

// /* Responsive overrides */

// @media screen and (min-width: __BREAKPOINT-VALUE__) {
//   ._CLASS-PREFIX_-_TYPOGRAPHY-NAME_ {
//     @include _MIXIN-PREFIX_-_TYPOGRAPHY-NAME_-_BREAKPOINT-NAME_;
//   }
// }
