// heading-1
// ---------------------------------------------------------

@mixin type-heading-1-default(
  $family: Poppins,
  $letter: -0.0125em,
  $line: 35.2,
  $size: 32,
  $style: null,
  $transform: null,
  $weight: normal
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-heading-1-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 48,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// heading-2
// ---------------------------------------------------------

@mixin type-heading-2-default(
  $family: Poppins,
  $letter: null,
  $line: 30.8,
  $size: 28,
  $style: null,
  $transform: null,
  $weight: normal
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-heading-2-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 32,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// heading-3
// ---------------------------------------------------------

@mixin type-heading-3-default(
  $family: Poppins,
  $letter: null,
  $line: 22,
  $size: 20,
  $style: null,
  $transform: null,
  $weight: normal
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-heading-3-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 24,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// heading-4
// ---------------------------------------------------------

@mixin type-heading-4-default(
  $family: Poppins,
  $letter: null,
  $line: 19.2,
  $size: 16,
  $style: null,
  $transform: null,
  $weight: bold
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-heading-4-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 20,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// heading-5
// ---------------------------------------------------------

@mixin type-heading-5-default(
  $family: Poppins,
  $letter: null,
  $line: 15.6,
  $size: 13,
  $style: null,
  $transform: null,
  $weight: bold
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-heading-5-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 16,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// heading-6
// ---------------------------------------------------------

@mixin type-heading-6-default(
  $family: null,
  $letter: null,
  $line: 12,
  $size: 10,
  $style: null,
  $transform: uppercase,
  $weight: bold
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-heading-6-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 12,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// lede
// ---------------------------------------------------------

@mixin type-lede-default(
  $family: null,
  $letter: null,
  $line: 27,
  $size: 18,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-lede-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 24,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// para
// ---------------------------------------------------------

@mixin type-para-default(
  $family: null,
  $letter: null,
  $line: 27.2,
  $size: 16,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-para-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 18,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// small
// ---------------------------------------------------------

@mixin type-small-default(
  $family: null,
  $letter: null,
  $line: 23.8,
  $size: 14,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-small-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 16,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

// caption
// ---------------------------------------------------------

@mixin type-caption-default(
  $family: null,
  $letter: null,
  $line: 15,
  $size: 10,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}

@mixin type-caption-large(
  $family: null,
  $letter: null,
  $line: null,
  $size: 12,
  $style: null,
  $transform: null,
  $weight: null
) {
  @include typebeast(
    $family,
    $letter,
    $line,
    $size,
    $style,
    $transform,
    $weight
  );
}
